{% extends "base.html.j2" %}

{% block content %}
    <h2>Welcome to Rocket</h2>
    {% if username %}
        <p>Hello, <strong>{{ username }}</strong>!</p>
        <p><a href="/auth/logout">Logout</a></p>
    {% else %}
        <p>Hello! Please <a href="/auth">Login</a> or <a href="/auth/register">Register</a>.</p>
    {% endif %}
{% endblock %}
